openapi: 3.1.0
info:
  title: Mitsubachi Rails API
  version: 1.0.0
  description: Rails API contract for the Mitsubachi drive frontend.
servers:
  - url: https://mitsubachi-api.shiosalt.com
    description: Production API
  - url: http://localhost:3001
    description: Local Rails API
security:
  - cookieSession: []
tags:
  - name: Health
  - name: Session
  - name: DriveItems
  - name: Flower
  - name: Admin
paths:
  /api/health:
    get:
      operationId: getApiHealth
      tags: [Health]
      summary: Readiness health check alias.
      security: []
      responses:
        "200":
          $ref: "#/components/responses/HealthOk"
        "503":
          $ref: "#/components/responses/HealthUnavailable"
  /api/health/live:
    get:
      operationId: getApiHealthLive
      tags: [Health]
      summary: Liveness health check.
      security: []
      responses:
        "200":
          $ref: "#/components/responses/HealthOk"
  /api/health/ready:
    get:
      operationId: getApiHealthReady
      tags: [Health]
      summary: Readiness health check.
      security: []
      responses:
        "200":
          $ref: "#/components/responses/HealthOk"
        "503":
          $ref: "#/components/responses/HealthUnavailable"
  /api/v1/csrf_token:
    get:
      operationId: getApiV1CsrfToken
      tags: [Session]
      summary: Return a CSRF token for state-changing requests.
      security: []
      responses:
        "200":
          description: CSRF token.
          content:
            application/json:
              schema:
                type: object
                required: [csrf_token]
                properties:
                  csrf_token:
                    type: string
  /api/v1/flower/device_authorizations:
    post:
      operationId: postApiV1FlowerDeviceAuthorizations
      tags: [Flower]
      summary: Start flower device authorization.
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                client_name:
                  type: string
                client_version:
                  type: string
                device_name:
                  type: string
      responses:
        "200":
          description: Device and user code.
        "429":
          $ref: "#/components/responses/FlowerError"
  /api/v1/flower/device_authorizations/approve:
    post:
      operationId: postApiV1FlowerDeviceAuthorizationsApprove
      tags: [Flower]
      summary: Approve a pending flower device authorization from an authenticated browser session.
      security:
        - cookieSession: []
      responses:
        "200":
          description: Approved.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/flower/device_authorizations/deny:
    post:
      operationId: postApiV1FlowerDeviceAuthorizationsDeny
      tags: [Flower]
      summary: Deny a pending flower device authorization from an authenticated browser session.
      security:
        - cookieSession: []
      responses:
        "200":
          description: Denied.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/flower/device_authorizations/{device_code}:
    get:
      operationId: getApiV1FlowerDeviceAuthorization
      tags: [Flower]
      summary: Read device authorization status by device code.
      security: []
      parameters:
        - name: device_code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Authorization status.
        "404":
          $ref: "#/components/responses/FlowerError"
  /api/v1/flower/tokens:
    post:
      operationId: postApiV1FlowerTokens
      tags: [Flower]
      summary: Exchange an approved device code for a short-lived bearer token.
      security: []
      responses:
        "200":
          description: Bearer access token.
        "400":
          $ref: "#/components/responses/FlowerError"
        "429":
          $ref: "#/components/responses/FlowerError"
  /api/v1/flower/me:
    get:
      operationId: getApiV1FlowerMe
      tags: [Flower]
      summary: Return the authenticated flower user.
      security:
        - flowerBearer: []
      responses:
        "200":
          description: Flower user.
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/flower/drive_items:
    get:
      operationId: getApiV1FlowerDriveItems
      tags: [Flower]
      summary: List active image and video files for flower.
      security:
        - flowerBearer: []
      parameters:
        - $ref: "#/components/parameters/ParentId"
        - name: query
          in: query
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: DriveItems.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FlowerError"
  /api/v1/flower/drive_items/{id}:
    get:
      operationId: getApiV1FlowerDriveItem
      tags: [Flower]
      summary: Return one active DriveItem for flower.
      security:
        - flowerBearer: []
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: DriveItem.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/flower/drive_items/{id}/download:
    get:
      operationId: getApiV1FlowerDriveItemDownload
      tags: [Flower]
      summary: Deliver a flower DriveItem download through X-Accel-Redirect.
      security:
        - flowerBearer: []
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          $ref: "#/components/responses/AccelRedirect"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/FlowerError"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/me:
    get:
      operationId: getApiV1Me
      tags: [Session]
      summary: Return the authenticated user.
      responses:
        "200":
          description: Authenticated user.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/group:
    get:
      operationId: getApiV1Group
      tags: [Session]
      summary: Return the current user's group dashboard data.
      responses:
        "200":
          description: Group dashboard.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Group"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      operationId: patchApiV1Group
      tags: [Session]
      summary: Update the current organization group profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupUpdateRequest"
      responses:
        "200":
          description: Updated group.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Group"
        "403":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
    put:
      operationId: putApiV1Group
      tags: [Session]
      summary: Update the current organization group profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupUpdateRequest"
      responses:
        "200":
          description: Updated group.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Group"
        "403":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/auth/create:
    post:
      operationId: postApiV1AuthCreate
      tags: [Session]
      summary: Send a registration magic link for an organization invite.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, invite_code]
              properties:
                email:
                  type: string
                  format: email
                invite_code:
                  type: string
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Error"
  /api/v1/auth/login:
    post:
      operationId: postApiV1AuthLogin
      tags: [Session]
      summary: Send a login magic link.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/auth/verify:
    post:
      operationId: postApiV1AuthVerify
      tags: [Session]
      summary: Verify a magic link token and create a session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                required: [message, data]
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/auth/registration/verify:
    post:
      operationId: postApiV1AuthRegistrationVerify
      tags: [Session]
      summary: Verify a registration magic link token and create a session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                required: [message, data]
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/auth/login/verify:
    post:
      operationId: postApiV1AuthLoginVerify
      tags: [Session]
      summary: Verify a login magic link token and create a session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                required: [message, data]
                properties:
                  message:
                    type: string
                  data:
                    $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/logout:
    delete:
      operationId: deleteApiV1Logout
      tags: [Session]
      summary: Destroy the current session.
      responses:
        "204":
          description: Session destroyed.
  /api/v1/drive_items:
    get:
      operationId: getApiV1DriveItems
      tags: [DriveItems]
      summary: List active drive items.
      parameters:
        - $ref: "#/components/parameters/ParentId"
      responses:
        "200":
          description: Drive item list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DriveItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      operationId: postApiV1DriveItems
      tags: [DriveItems]
      summary: Create a file or directory.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/DriveItemCreateRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/DriveItemCreateRequest"
      responses:
        "201":
          description: Created drive item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/Error"
        "413":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
        "409":
          $ref: "#/components/responses/Error"
  /api/v1/drive_items/search:
    get:
      operationId: getApiV1DriveItemsSearch
      tags: [DriveItems]
      summary: Search active drive items within the current organization.
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
            enum: [current, organization]
        - $ref: "#/components/parameters/ParentId"
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DriveItem"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/drive_items/trash:
    get:
      operationId: getApiV1DriveItemsTrash
      tags: [DriveItems]
      summary: List deleted drive items.
      responses:
        "200":
          description: Deleted drive item list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DriveItem"
  /api/v1/drive_items/bulk_move:
    post:
      operationId: postApiV1DriveItemsBulkMove
      tags: [DriveItems]
      summary: Move multiple drive items to a directory.
      requestBody:
        $ref: "#/components/requestBodies/BulkMove"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/drive_items/bulk_delete:
    post:
      operationId: postApiV1DriveItemsBulkDelete
      tags: [DriveItems]
      summary: Move multiple drive items to trash.
      requestBody:
        $ref: "#/components/requestBodies/BulkIds"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/drive_items/bulk_restore:
    post:
      operationId: postApiV1DriveItemsBulkRestore
      tags: [DriveItems]
      summary: Restore multiple deleted drive items.
      requestBody:
        $ref: "#/components/requestBodies/BulkIds"
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/drive_items/bulk_download:
    post:
      operationId: postApiV1DriveItemsBulkDownload
      tags: [DriveItems]
      summary: Download multiple drive items as a ZIP archive.
      requestBody:
        $ref: "#/components/requestBodies/BulkIds"
      responses:
        "200":
          description: ZIP archive.
          headers:
            Content-Disposition:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/drive_items/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1DriveItem
      tags: [DriveItems]
      summary: Return one active drive item.
      responses:
        "200":
          description: Drive item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveItem"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      operationId: patchApiV1DriveItem
      tags: [DriveItems]
      summary: Update drive item name or parent.
      requestBody:
        $ref: "#/components/requestBodies/DriveItemUpdate"
      responses:
        "200":
          description: Updated drive item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveItem"
        "422":
          $ref: "#/components/responses/ValidationError"
    put:
      operationId: putApiV1DriveItem
      tags: [DriveItems]
      summary: Update drive item name or parent.
      requestBody:
        $ref: "#/components/requestBodies/DriveItemUpdate"
      responses:
        "200":
          description: Updated drive item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveItem"
        "422":
          $ref: "#/components/responses/ValidationError"
    delete:
      operationId: deleteApiV1DriveItem
      tags: [DriveItems]
      summary: Move a drive item to trash.
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/drive_items/{id}/preview:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1DriveItemPreview
      tags: [DriveItems]
      summary: Deliver a file inline through X-Accel-Redirect.
      responses:
        "200":
          $ref: "#/components/responses/AccelRedirect"
        "404":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /api/v1/drive_items/{id}/download:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1DriveItemDownload
      tags: [DriveItems]
      summary: Deliver a file as an attachment through X-Accel-Redirect.
      responses:
        "200":
          $ref: "#/components/responses/AccelRedirect"
        "404":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /api/v1/drive_items/{id}/stream:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1DriveItemStream
      tags: [DriveItems]
      summary: Deliver a file inline for streaming through X-Accel-Redirect.
      responses:
        "200":
          $ref: "#/components/responses/AccelRedirect"
        "404":
          $ref: "#/components/responses/Error"
        "503":
          $ref: "#/components/responses/Error"
  /api/v1/drive_items/{id}/restore:
    parameters:
      - $ref: "#/components/parameters/Id"
    post:
      operationId: postApiV1DriveItemRestore
      tags: [DriveItems]
      summary: Restore one deleted drive item.
      responses:
        "200":
          description: Restored drive item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveItem"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/drive_items/{id}/purge:
    parameters:
      - $ref: "#/components/parameters/Id"
    delete:
      operationId: deleteApiV1DriveItemPurge
      tags: [DriveItems]
      summary: Permanently purge one deleted drive item.
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/drive_items/{id}/move:
    parameters:
      - $ref: "#/components/parameters/Id"
    patch:
      operationId: patchApiV1DriveItemMove
      tags: [DriveItems]
      summary: Move one active drive item to another folder.
      requestBody:
        $ref: "#/components/requestBodies/DriveItemMove"
      responses:
        "200":
          description: Moved drive item.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DriveItem"
                  request_id:
                    type: string
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/ValidationError"
  /api/v1/admin/dashboard:
    get:
      operationId: getApiV1AdminDashboard
      tags: [Admin]
      summary: Return administrative dashboard aggregates.
      responses:
        "200":
          description: Dashboard data.
          content:
            application/json:
              schema:
                type: object
  /api/v1/admin/organizations:
    get:
      operationId: getApiV1AdminOrganizations
      tags: [Admin]
      summary: List organizations.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: q
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, name]
        - $ref: "#/components/parameters/Direction"
      responses:
        "200":
          $ref: "#/components/responses/Paginated"
    post:
      operationId: postApiV1AdminOrganizations
      tags: [Admin]
      summary: Create an organization.
      description: Only system_admin users may create organizations.
      requestBody:
        $ref: "#/components/requestBodies/OrganizationUpdate"
      responses:
        "201":
          description: Created organization.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/Organization"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/Errors"
  /api/v1/admin/organizations/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminOrganization
      tags: [Admin]
      summary: Return one organization.
      responses:
        "200":
          description: Organization.
          content:
            application/json:
              schema:
                type: object
    patch:
      operationId: patchApiV1AdminOrganization
      tags: [Admin]
      summary: Update one organization.
      requestBody:
        $ref: "#/components/requestBodies/OrganizationUpdate"
      responses:
        "200":
          description: Updated organization.
          content:
            application/json:
              schema:
                type: object
    put:
      operationId: putApiV1AdminOrganization
      tags: [Admin]
      summary: Update one organization.
      requestBody:
        $ref: "#/components/requestBodies/OrganizationUpdate"
      responses:
        "200":
          description: Updated organization.
          content:
            application/json:
              schema:
                type: object
  /api/v1/admin/organization_invites:
    post:
      operationId: postApiV1AdminOrganizationInvites
      tags: [Admin]
      summary: Create an organization invite code.
      description: system_admin may issue invites for any organization; organization_admin may issue invites for their own organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [organization_invite]
              properties:
                organization_invite:
                  type: object
                  properties:
                    organization_id:
                      type: integer
                    expires_at:
                      type: string
                      format: date-time
      responses:
        "201":
          description: Created organization invite.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/OrganizationInvite"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/admin/users:
    get:
      operationId: getApiV1AdminUsers
      tags: [Admin]
      summary: List users.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: q
          in: query
          schema:
            type: string
        - name: organization_id
          in: query
          schema:
            type: integer
        - name: role
          in: query
          schema:
            type: string
            enum: [member, organization_admin, system_admin]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended]
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, last_sign_in_at, email, name]
        - $ref: "#/components/parameters/Direction"
      responses:
        "200":
          $ref: "#/components/responses/Paginated"
  /api/v1/admin/users/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminUser
      tags: [Admin]
      summary: Return one user.
      responses:
        "200":
          description: User.
          content:
            application/json:
              schema:
                type: object
    patch:
      operationId: patchApiV1AdminUser
      tags: [Admin]
      summary: Update one user.
      requestBody:
        $ref: "#/components/requestBodies/UserUpdate"
      responses:
        "200":
          description: Updated user.
          content:
            application/json:
              schema:
                type: object
    put:
      operationId: putApiV1AdminUser
      tags: [Admin]
      summary: Update one user.
      requestBody:
        $ref: "#/components/requestBodies/UserUpdate"
      responses:
        "200":
          description: Updated user.
          content:
            application/json:
              schema:
                type: object
  /api/v1/admin/users/{id}/suspend:
    parameters:
      - $ref: "#/components/parameters/Id"
    patch:
      operationId: patchApiV1AdminUserSuspend
      tags: [Admin]
      summary: Suspend one user.
      responses:
        "200":
          description: Suspended user.
          content:
            application/json:
              schema:
                type: object
  /api/v1/admin/users/{id}/unsuspend:
    parameters:
      - $ref: "#/components/parameters/Id"
    patch:
      operationId: patchApiV1AdminUserUnsuspend
      tags: [Admin]
      summary: Unsuspend one user.
      responses:
        "200":
          description: Unsuspended user.
          content:
            application/json:
              schema:
                type: object
  /api/v1/admin/drive_items:
    get:
      operationId: getApiV1AdminDriveItems
      tags: [Admin]
      summary: List drive items for administration.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: q
          in: query
          schema:
            type: string
        - name: organization_id
          in: query
          schema:
            type: integer
        - name: user_id
          in: query
          schema:
            type: integer
        - name: item_type
          in: query
          schema:
            type: string
            enum: [file, directory]
        - name: content_type
          in: query
          schema:
            type: string
        - name: deleted
          in: query
          schema:
            type: string
            enum: [active, deleted, "true", "false"]
        - name: sort
          in: query
          schema:
            type: string
            enum: [created_at, size, name]
        - $ref: "#/components/parameters/Direction"
      responses:
        "200":
          $ref: "#/components/responses/Paginated"
  /api/v1/admin/drive_items/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminDriveItem
      tags: [Admin]
      summary: Return one drive item for administration.
      responses:
        "200":
          description: Drive item.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/AdminDriveItem"
    delete:
      operationId: deleteApiV1AdminDriveItem
      tags: [Admin]
      summary: Move one drive item to trash as an administrator.
      responses:
        "200":
          description: Deleted drive item.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/AdminDriveItem"
  /api/v1/admin/drive_items/{id}/preview:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminDriveItemPreview
      tags: [Admin]
      summary: Deliver an administratively authorized file inline through X-Accel-Redirect.
      responses:
        "200":
          $ref: "#/components/responses/AccelRedirect"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/admin/drive_items/{id}/download:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminDriveItemDownload
      tags: [Admin]
      summary: Deliver an administratively authorized file as an attachment through X-Accel-Redirect.
      responses:
        "200":
          $ref: "#/components/responses/AccelRedirect"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/admin/drive_items/{id}/stream:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminDriveItemStream
      tags: [Admin]
      summary: Deliver an administratively authorized file inline for streaming through X-Accel-Redirect.
      responses:
        "200":
          $ref: "#/components/responses/AccelRedirect"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/admin/drive_items/{id}/purge:
    parameters:
      - $ref: "#/components/parameters/Id"
    delete:
      operationId: deleteApiV1AdminDriveItemPurge
      tags: [Admin]
      summary: Permanently purge a soft-deleted drive item.
      responses:
        "200":
          $ref: "#/components/responses/Message"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /api/v1/admin/drive_items/{id}/restore:
    parameters:
      - $ref: "#/components/parameters/Id"
    patch:
      operationId: patchApiV1AdminDriveItemRestore
      tags: [Admin]
      summary: Restore one drive item as an administrator.
      responses:
        "200":
          description: Restored drive item.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/AdminDriveItem"
  /api/v1/admin/audit_logs:
    get:
      operationId: getApiV1AdminAuditLogs
      tags: [Admin]
      summary: List admin audit logs.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: actor_user_id
          in: query
          schema:
            type: integer
        - name: organization_id
          in: query
          schema:
            type: integer
        - name: action
          in: query
          schema:
            type: string
        - name: target_type
          in: query
          schema:
            type: string
        - name: created_from
          in: query
          schema:
            type: string
            format: date-time
        - name: created_to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          $ref: "#/components/responses/Paginated"
  /api/v1/admin/audit_logs/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminAuditLog
      tags: [Admin]
      summary: Return one admin audit log.
      responses:
        "200":
          description: Admin audit log.
          content:
            application/json:
              schema:
                type: object
  /api/v1/admin/audit_events:
    get:
      operationId: getApiV1AdminAuditEvents
      tags: [Admin]
      summary: List general audit events.
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - name: actor_user_id
          in: query
          schema:
            type: integer
        - name: organization_id
          in: query
          schema:
            type: integer
        - name: action
          in: query
          schema:
            type: string
        - name: outcome
          in: query
          schema:
            type: string
            enum: [success, failure, denied]
        - name: target_type
          in: query
          schema:
            type: string
        - name: occurred_from
          in: query
          schema:
            type: string
            format: date-time
        - name: occurred_to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          $ref: "#/components/responses/Paginated"
  /api/v1/admin/audit_events/{id}:
    parameters:
      - $ref: "#/components/parameters/Id"
    get:
      operationId: getApiV1AdminAuditEvent
      tags: [Admin]
      summary: Return one general audit event.
      responses:
        "200":
          description: Audit event.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    cookieSession:
      type: apiKey
      in: cookie
      name: _mitsubachi_ruby_session
    flowerBearer:
      type: http
      scheme: bearer
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
    ParentId:
      name: parent_id
      in: query
      schema:
        type: integer
        nullable: true
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
    Direction:
      name: direction
      in: query
      schema:
        type: string
        enum: [asc, desc]
  requestBodies:
    BulkIds:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [drive_item_ids]
            properties:
              drive_item_ids:
                type: array
                items:
                  type: integer
    BulkMove:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [drive_item_ids, parent_id]
            properties:
              drive_item_ids:
                type: array
                items:
                  type: integer
              parent_id:
                type: integer
                nullable: true
    DriveItemUpdate:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              parent_id:
                type: integer
                nullable: true
    DriveItemMove:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [parent_id]
            properties:
              parent_id:
                type: integer
                nullable: true
    OrganizationUpdate:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [organization]
            properties:
              organization:
                type: object
                properties:
                  name:
                    type: string
    UserUpdate:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [user]
            properties:
              user:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
                    format: email
                  role:
                    type: string
                    enum: [member, organization_admin, system_admin]
                  organization_id:
                    type: integer
  responses:
    AccelRedirect:
      description: File delivery delegated to the reverse proxy.
      headers:
        X-Accel-Redirect:
          schema:
            type: string
        Content-Type:
          schema:
            type: string
        Content-Disposition:
          schema:
            type: string
    Error:
      description: Error response.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                oneOf:
                  - type: string
                  - type: object
    FlowerError:
      description: Flower API error response.
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: object
                required: [code, message, request_id]
                properties:
                  code:
                    type: string
                    enum:
                      - invalid_request
                      - invalid_grant
                      - authorization_pending
                      - slow_down
                      - access_denied
                      - expired_token
                      - invalid_token
                      - insufficient_scope
                      - not_found
                      - conflict
                      - rate_limited
                      - internal_error
                  message:
                    type: string
                  request_id:
                    type: string
    Errors:
      description: Validation errors.
      content:
        application/json:
          schema:
            type: object
            required: [errors]
            properties:
              errors:
                type: array
                items:
                  type: string
    Forbidden:
      description: The current user is not allowed to perform this operation.
      content:
        application/json:
          schema:
            type: object
            required: [error]
            properties:
              error:
                type: object
                required: [code, message]
                properties:
                  code:
                    type: string
                    enum: [forbidden]
                  message:
                    type: string
    HealthOk:
      description: Health check succeeded.
      content:
        application/json:
          schema:
            type: object
            required: [status]
            properties:
              status:
                type: string
                enum: [ok]
    HealthUnavailable:
      description: Health check failed.
      content:
        application/json:
          schema:
            type: object
            required: [status]
            properties:
              status:
                type: string
                enum: [unavailable]
    Message:
      description: Message response.
      content:
        application/json:
          schema:
            type: object
            required: [message]
            properties:
              message:
                type: string
    Paginated:
      description: Paginated collection.
      content:
        application/json:
          schema:
            type: object
            required: [data, meta]
            properties:
              data:
                type: array
                items:
                  type: object
              meta:
                $ref: "#/components/schemas/PaginationMeta"
    Unauthorized:
      description: Authentication is required or the session is rejected.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    NotFound:
      description: Resource was not found or is outside the tenant boundary.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                oneOf:
                  - type: string
                  - type: object
    ValidationError:
      description: Validation failed.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              errors:
                type: array
                items:
                  type: string
  schemas:
    AdminDriveItem:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        organization_name:
          type: string
        owner_user_id:
          type: integer
        owner_email:
          type: string
          format: email
        parent_id:
          type: integer
          nullable: true
        name:
          type: string
        item_type:
          type: string
          enum: [file, directory]
        extension:
          type: string
          nullable: true
        content_type:
          type: string
          nullable: true
        file_size:
          type: integer
          nullable: true
        upload_ip_address:
          type: string
          nullable: true
        uploaded_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        breadcrumbs:
          type: array
          items:
            $ref: "#/components/schemas/DriveBreadcrumb"
    DriveBreadcrumb:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        name:
          type: string
    DriveItem:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        owner_user_id:
          type: integer
        owner_display_name:
          type: string
          nullable: true
        parent_id:
          type: integer
          nullable: true
        parent_name:
          type: string
          nullable: true
        name:
          type: string
        item_type:
          type: string
          enum: [file, directory]
        extension:
          type: string
          nullable: true
        storage_key:
          type: string
          nullable: true
        blob_path:
          type: string
          nullable: true
        content_type:
          type: string
          nullable: true
        file_hash:
          type: string
          nullable: true
        file_size:
          type: integer
          nullable: true
        deleted_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Group:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        member_count:
          type: integer
        current_user_role:
          type: string
          enum: [member, organization_admin, system_admin]
        members:
          type: array
          items:
            $ref: "#/components/schemas/GroupMember"
    GroupMember:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        role:
          type: string
          enum: [member, organization_admin, system_admin]
        joined_at:
          type: string
          format: date-time
        suspended:
          type: boolean
    GroupUpdateRequest:
      type: object
      required: [group]
      properties:
        group:
          type: object
          properties:
            name:
              type: string
            description:
              type: string
              nullable: true
    DriveItemCreateRequest:
      type: object
      required: [name, item_type]
      properties:
        name:
          type: string
        item_type:
          type: string
          enum: [file, directory]
        parent_id:
          type: integer
          nullable: true
        file:
          type: string
          format: binary
    PaginationMeta:
      type: object
      required: [current_page, per_page, total_pages, total_count]
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total_pages:
          type: integer
        total_count:
          type: integer
    Organization:
      type: object
      required:
        - id
        - name
        - users_count
        - drive_items_count
        - storage_bytes
        - created_at
        - updated_at
      properties:
        id:
          type: integer
        name:
          type: string
        users_count:
          type: integer
        drive_items_count:
          type: integer
        storage_bytes:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OrganizationInvite:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        organization_name:
          type: string
        code:
          type: string
        expires_at:
          type: string
          format: date-time
        used_at:
          type: string
          format: date-time
          nullable: true
        used_by_user_id:
          type: integer
          nullable: true
        stand_by_at:
          type: string
          format: date-time
          nullable: true
        stand_by_user_id:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    User:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        organization_name:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        display_name:
          type: string
          nullable: true
        role:
          type: string
          enum: [member, organization_admin, system_admin]
        suspended:
          type: boolean
        suspended_at:
          type: string
          format: date-time
          nullable: true
        last_sign_in_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
